src/ComfortPay/Teleplatba_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
 <schema targetNamespace="urn:tatrabanka:ibanking:Teleplatba"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:types="urn:tatrabanka:ibanking:Types"
  xmlns:teleplatba="urn:tatrabanka:ibanking:Teleplatba"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="urn:tatrabanka:ibanking:Types" schemaLocation="Types_1_0.xsd"/>
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <simpleType name="CardStatus">
   <annotation>
    <documentation>OK      - karta je zaregistrovana a nie je expirovana
 FAIL    - karta je zaregistrovana, ale uz expirovala
 UNKNOWN - karta nie je zaregistrovana</documentation>
   </annotation>
   <restriction base="xsd:string">
    <enumeration value="OK"/><!-- teleplatba__CardStatus::teleplatba__CardStatus__OK -->
    <!-- = 0 -->
    <enumeration value="FAIL"/><!-- teleplatba__CardStatus::teleplatba__CardStatus__FAIL -->
    <!-- = 1 -->
    <enumeration value="UNKNOWN"/><!-- teleplatba__CardStatus::teleplatba__CardStatus__UNKNOWN -->
    <!-- = 2 -->
   </restriction>
  </simpleType>
  <simpleType name="CurrencyCodes">
   <annotation>
    <documentation>Zoznam podporovanych mien</documentation>
   </annotation>
   <restriction base="xsd:string">
    <enumeration value="EUR"/><!-- teleplatba__CurrencyCodes::teleplatba__CurrencyCodes__EUR -->
    <!-- = 0 -->
    <enumeration value="USD"/><!-- teleplatba__CurrencyCodes::teleplatba__CurrencyCodes__USD -->
    <!-- = 1 -->
    <enumeration value="CZK"/><!-- teleplatba__CurrencyCodes::teleplatba__CurrencyCodes__CZK -->
    <!-- = 2 -->
    <enumeration value="GBP"/><!-- teleplatba__CurrencyCodes::teleplatba__CurrencyCodes__GBP -->
    <!-- = 3 -->
    <enumeration value="PLN"/><!-- teleplatba__CurrencyCodes::teleplatba__CurrencyCodes__PLN -->
    <!-- = 4 -->
    <enumeration value="CHF"/><!-- teleplatba__CurrencyCodes::teleplatba__CurrencyCodes__CHF -->
    <!-- = 5 -->
    <enumeration value="HUF"/><!-- teleplatba__CurrencyCodes::teleplatba__CurrencyCodes__HUF -->
    <!-- = 6 -->
   </restriction>
  </simpleType>
  <simpleType name="TransactionType">
   <annotation>
    <documentation>Typ transakcie</documentation>
   </annotation>
   <restriction base="xsd:string">
    <enumeration value="PURCHASE"/><!-- teleplatba__TransactionType::teleplatba__TransactionType__PURCHASE -->
    <!-- = 0 -->
    <enumeration value="PREAUTHORIZATION"/><!-- teleplatba__TransactionType::teleplatba__TransactionType__PREAUTHORIZATION -->
    <!-- = 1 -->
    <enumeration value="PREAUTH-CONFIRM"/><!-- teleplatba__TransactionType::teleplatba__TransactionType__PREAUTH_CONFIRM -->
    <!-- = 2 -->
    <enumeration value="PREAUTH-CANCEL"/><!-- teleplatba__TransactionType::teleplatba__TransactionType__PREAUTH_CANCEL -->
    <!-- = 3 -->
    <enumeration value="CHARGEBACK"/><!-- teleplatba__TransactionType::teleplatba__TransactionType__CHARGEBACK -->
    <!-- = 4 -->
   </restriction>
  </simpleType>
  <complexType name="CardData">
   <annotation>
    <documentation>Udaje o karte + merchantovi
 \param requestedIdOfCard id karty, numericky string
 \param CardNumber        cislo karty
 \param CardExpiration    expiracia karty, format MMYY
 \param MerchantId        id merchanta</documentation>
   </annotation>
   <sequence>
     <element name="requestedIdOfCard" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- teleplatba__CardData::requestedIdOfCard -->
     <element name="CardNumber" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- teleplatba__CardData::CardNumber -->
     <element name="CardExpiration" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- teleplatba__CardData::CardExpiration -->
     <element name="MerchantId" type="xsd:long" minOccurs="1" maxOccurs="1"/><!-- teleplatba__CardData::MerchantId -->
   </sequence>
  </complexType>
  <complexType name="EncryptedCardData">
   <annotation>
    <documentation>Zakryptovane udaje o karte
 \param requestedIdOfCard id karty, numericky string
 \param cryptoValue       zakryptovane cislo karty + expiracia</documentation>
   </annotation>
   <sequence>
     <element name="requestedIdOfCard" type="xsd:string" minOccurs="0" maxOccurs="1"/><!-- teleplatba__EncryptedCardData::requestedIdOfCard -->
     <element name="cryptoValue" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- teleplatba__EncryptedCardData::cryptoValue -->
   </sequence>
  </complexType>
  <complexType name="CardExpirationPair">
   <annotation>
    <documentation>Zakryptovane udaje o karte
 \param idOfCard          id karty, numericky string
 \param expiration        expiracia karty vo formate MMYY</documentation>
   </annotation>
   <sequence>
     <element name="idOfCard" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- teleplatba__CardExpirationPair::idOfCard -->
     <element name="expiration" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- teleplatba__CardExpirationPair::expiration -->
   </sequence>
  </complexType>
  <complexType name="TransactionSymbols">
   <annotation>
    <documentation>Zakryptovane udaje o karte
 \param variableSymbol    variabilny symbol, max 10 znakov
 \param specificSymbol    specificky symbol, max 10 znakov</documentation>
   </annotation>
   <sequence>
     <element name="variableSymbol" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- teleplatba__TransactionSymbols::variableSymbol -->
     <element name="specificSymbol" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- teleplatba__TransactionSymbols::specificSymbol -->
   </sequence>
  </complexType>
  <complexType name="TransactionIdentificator">
    <choice>
     <element name="symbols" type="teleplatba:TransactionSymbols" minOccurs="1" maxOccurs="1" nillable="true"/><!-- teleplatba__TransactionIdentificatorUnion::symbols -->
     <element name="e2eReference" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/><!-- teleplatba__TransactionIdentificatorUnion::e2eReference -->
    </choice>
  </complexType>
  <complexType name="IPSPData">
   <annotation>
    <documentation>Vyplnaju iba IPSP obchodnici
 \param submerchantId         id submerchanta
 \param location              location, string max 25 znakov
 \param city                  city, string max 13 znakov
 \param alpha2CountryCode     ISO 3166-1 alpha-2 code</documentation>
   </annotation>
   <sequence>
     <element name="submerchantId" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- teleplatba__IPSPData::submerchantId -->
     <element name="location" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- teleplatba__IPSPData::location -->
     <element name="city" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- teleplatba__IPSPData::city -->
     <element name="alpha2CountryCode" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- teleplatba__IPSPData::alpha2CountryCode -->
   </sequence>
  </complexType>
  <complexType name="CardTransactionRequest">
   <annotation>
    <documentation>Transakcny request
 \param transactionId             id transakcie, numericky string
 \param parentTransactionId       id povodnej transakcie (povinne pre typ transakcie CONFIRM, CANCEL, CHARGEBACK), numericky string
 \param referedCardId             id karty, numericky string
 \param merchantId                id merchanta
 \param terminalId                terminal id
 \param amount                    hodnota transakcie
 \param transactionIdentificator  identifikator transakcie
 \param cc                        mena transakcie
 \param ipspData                  ipspData, sice nepovinne, ale ak sa v requete uvedie, MUSIA byt vnutorne fieldy vyplnene</documentation>
   </annotation>
   <sequence>
     <element name="transactionId" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- teleplatba__CardTransactionRequest::transactionId -->
     <element name="parentTransactionId" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- teleplatba__CardTransactionRequest::parentTransactionId -->
     <element name="referedCardId" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- teleplatba__CardTransactionRequest::referedCardId -->
     <element name="merchantId" type="xsd:long" minOccurs="1" maxOccurs="1"/><!-- teleplatba__CardTransactionRequest::merchantId -->
     <element name="terminalId" type="xsd:long" minOccurs="1" maxOccurs="1"/><!-- teleplatba__CardTransactionRequest::terminalId -->
     <element name="amount" type="xsd:double" minOccurs="1" maxOccurs="1"/><!-- teleplatba__CardTransactionRequest::amount -->
     <element name="transactionIdentificator" type="teleplatba:TransactionIdentificator" minOccurs="1" maxOccurs="1"/><!-- teleplatba__CardTransactionRequest::transactionIdentificator -->
     <element name="cc" type="teleplatba:CurrencyCodes" minOccurs="1" maxOccurs="1"/><!-- teleplatba__CardTransactionRequest::cc -->
     <element name="ipspData" type="teleplatba:IPSPData" minOccurs="0" maxOccurs="1" nillable="true"/><!-- teleplatba__CardTransactionRequest::ipspData -->
   </sequence>
  </complexType>
  <complexType name="CardTransactionResponse">
   <annotation>
    <documentation>Informacie o stave transakcie
 \param transactionId             id transakcie
 \param transactionStatus         navratovy kod transakcie
 \param transactionApproval       kod schvalenia</documentation>
   </annotation>
   <sequence>
     <element name="transactionId" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- teleplatba__CardTransactionResponse::transactionId -->
     <element name="transactionStatus" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- teleplatba__CardTransactionResponse::transactionStatus -->
     <element name="transactionApproval" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- teleplatba__CardTransactionResponse::transactionApproval -->
   </sequence>
  </complexType>
  <!-- operation request element -->
  <element name="doCardTransaction">
   <complexType>
    <sequence>
     <element name="transactionType" type="teleplatba:TransactionType" minOccurs="1" maxOccurs="1"/><!-- teleplatba__doCardTransaction::transactionType -->
     <element name="req" type="teleplatba:CardTransactionRequest" minOccurs="1" maxOccurs="1"/><!-- teleplatba__doCardTransaction::req -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="doCardTransactionResponse">
   <complexType>
    <sequence>
     <element name="res" type="teleplatba:CardTransactionResponse" minOccurs="1" maxOccurs="1"/><!-- teleplatba__doCardTransactionResponse::res -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getTransactionStatus">
   <complexType>
    <sequence>
     <element name="transactionId" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- teleplatba__getTransactionStatus::transactionId -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getTransactionStatusResponse">
   <complexType>
    <sequence>
     <element name="res" type="teleplatba:CardTransactionResponse" minOccurs="1" maxOccurs="1"/><!-- teleplatba__getTransactionStatusResponse::res -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="unRegisterCard">
   <complexType>
    <sequence>
     <element name="idOfCard" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- teleplatba__unRegisterCard::idOfCard -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="unRegisterCardResponse">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="checkCard">
   <complexType>
    <sequence>
     <element name="idOfCard" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- teleplatba__checkCard::idOfCard -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="checkCardResponse">
   <complexType>
    <sequence>
     <element name="status" type="teleplatba:CardStatus" minOccurs="1" maxOccurs="1"/><!-- teleplatba__checkCardResponse::status -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getListOfExpired">
   <complexType>
    <sequence>
     <element name="expDate" type="xsd:date" minOccurs="1" maxOccurs="1"/><!-- teleplatba__getListOfExpired::expDate -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getListOfExpiredResponse">
   <complexType>
    <sequence>
     <element name="list" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/><!-- teleplatba__getListOfExpiredResponse::list -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getListOfExpPerId">
   <complexType>
    <sequence>
     <element name="listOfIdCards" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/><!-- teleplatba__getListOfExpPerId::listOfIdCards -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getListOfExpPerIdResponse">
   <complexType>
    <sequence>
     <element name="list" type="teleplatba:CardExpirationPair" minOccurs="0" maxOccurs="unbounded"/><!-- teleplatba__getListOfExpPerIdResponse::list -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="ping">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="pingResponse">
   <complexType>
    <sequence>
     <element name="reply" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/><!-- teleplatba__pingResponse::reply -->
    </sequence>
   </complexType>
  </element>
 </schema>

